<div class="columns">
  <div class="column  is-4 is-offset-4">
    <br>
    <br>   
    <br>
    <h1 class="title has-text-centered">新增設計師</h1>
    <div class="box">
<%= form_for @designer ,url: admin_designers_path do |f| %>
  <%= render 'form',f:f %>
<% end %>
    </div>

  </div>
</div>



