<section class="section">
	<div class="container">
<div class="columns">
  <div class="column  is-4 is-offset-4"> 
    <br>
    <h1 class="title has-text-centered" style="color:hsl(141, 71%, 48%)">新增商品</h1>
    <br>
    <br>
    <br>
    <div class="box">
<%= form_for @product ,url:admin_commodities_path do |f| %>
  <%= render 'form',f:f %>
<% end %>
    </div>

  </div>
</div>		
	</div>
</section>




