/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self

 *= require products 
 *= require loading
 */
 @import "font-awesome-sprockets";
 @import "font-awesome";
 @import "bulma/sass/utilities/_all";
 @import "bulma/sass/elements/_all";
 @import "bulma/sass/base/_all";

$success:rgb(54,133,12);
$danger:hsl(348, 100%, 50%);
$dimensions: 16 24 32 48 64 96 128 200 230 256 272 318 512 650;

img{
  display: block;
  height: 100%}

figure{
overflow:hidden;
}

&.is-3by2{
height: 100%;}

  
// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    white: ($white, $black),
    black: ($black, $white),
    light: ($light, $light-invert),
    dark: ($dark, $dark-invert),
    primary: ($primary, $primary-invert),
    info: ($info, $info-invert),
    success: ($success, $success-invert),
    warning: ($warning, $warning-invert),
    danger: ($danger, $danger-invert),

);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;
 @import "bulma/bulma";



