*
  font-family: 微軟正黑體

#floatobject2
  transition-duration: 0.5s
  
#floatobject:hover #floatobject2
  box-shadow: 10px 10px 5px grey

#rails
  opacity: 0
  transition-duration: 0.5s

aside 
  position: absolute
  left: -15%
  top: 0px

