<section class="section" style="background-color: hsl(0, 0%, 96%);padding-top: 10px;padding-bottom: 10px">

	<div class="container">

  <div class="column has-text-left is-size-6 has-text-grey has-text-weight-bold is-hidden-desktop" >
    <%= image_tag "https://i.imgur.com/rFsUAA6.jpg" ,style:'width: 100%' %>
    <br>
    <br>
    <p>我們把心意裝載入盒</p>
    <br>
    <p>在一針一縫裡，放進溫暖與細語</p>
    <br>
    <p>在一敲一打中，寫下時光和屬於</p>
    <br>
    <p>都只為你...</p>
    <br>
    <%= image_tag "https://i.imgur.com/dww2xK1.jpg" ,style:'width: 100%' %>
    <br>
    <br>
    <p>在相異的材質與人事物中<br><br>尋找一種契合</p>
    <br>
    <p>透過每一分執著的縫製 </p>
    <br>
    <p>少了機器的冰冷，添了情感的永恆</p>
    <br>
    <p>簡單的線條說單純的故事</p>
    <br>
    <p>讓Le'box成為我們滋養生活的方式</p>
    <br>
  </div>
  <div class="column has-text-left is-size-5 has-text-grey has-text-weight-bold is-hidden-mobile" style="background-image: url(https://i.imgur.com/rFsUAA6.jpg);padding: 50px;">
    <br>
    <br>
    <br>
    <p>我們把心意裝載入盒</p>
    <br>
    <p>在一針一縫裡，放進 <span>溫暖</span> 與<span> 細語</span></p>
    <br>
    <p>在一敲一打中，寫下<span>時光</span> 和<span> 屬於</span></p>
    <br>
    <p>都只為你...</p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
  <div class="column has-text-centered is-size-5 has-text-white has-text-weight-bold is-hidden-mobile" style="background-image: url(https://i.imgur.com/dww2xK1.jpg);padding: 50px;background-size: 115% auto">
    <br>
    <br>
    <br>
    <p>在相異的材質與人事物中尋找一種契合</p>
    <br>
    <p>透過每一分執著的縫製 </p>
    <br>
    <p>少了機器的冰冷，添了情感的永恆</p>
    <br>
    <p>簡單的線條說單純的故事</p>
    <br>
    <p>讓Le'box成為我們滋養生活的方式</p>
    <br>
    <br>
    <br>
    <br>
  
	</div>
</div>
</section>
