
	<div class="container">

		<div class="w3-content w3-display-container" style="max-width:100%">
      <%= image_tag @banner.banner1 ,class:"mySlides", style:"width:100%" %>
		  <%= image_tag @banner.banner2 ,class:"mySlides", style:"width:100%" %>
		  <%= image_tag @banner.banner3 ,class:"mySlides", style:"width:100%" %>
		  <div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle" style="width:100%">
		    <div class="w3-left w3-hover-text-khaki" onclick="plusDivs(-1)">&#10094;</div>
		    <div class="w3-right w3-hover-text-khaki" onclick="plusDivs(1)">&#10095;</div>
		    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
		    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
		    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
		  </div>
		</div>  
  <div class="column has-text-centered is-size-6 has-text-grey has-text-weight-bold is-hidden-desktop" >
    <br>
    <p>我們把心意裝載入盒</p>
    <br>
    <p>在一針一縫裡，放進 <span>溫暖</span> 與<span> 細語</span></p>
    <br>
    <p>在一敲一打中，寫下<span>時光</span> 和<span> 屬於</span></p>
    <br>
    <p>都只為你...</p>
    <br>
    <p>在相異的材質與人事物中尋找一種契合</p>
    <br>
    <p>透過每一分執著的縫製 </p>
    <br>
    <p>少了機器的冰冷，添了情感的永恆</p>
    <br>
    <p>簡單的線條說單純的故事</p>
    <br>
    <p>讓Le'box成為我們滋養生活的方式</p>
    <br>
  </div>
  <div class="column has-text-left is-size-5 has-text-grey has-text-weight-bold is-hidden-mobile" style="background-image: url(https://i.imgur.com/rFsUAA6.jpg);padding: 50px;">
    <br>
    <br>
    <br>
    <p>我們把心意裝載入盒</p>
    <br>
    <p>在一針一縫裡，放進 <span>溫暖</span> 與<span> 細語</span></p>
    <br>
    <p>在一敲一打中，寫下<span>時光</span> 和<span> 屬於</span></p>
    <br>
    <p>都只為你...</p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
  <div class="column has-text-centered is-size-5 has-text-white has-text-weight-bold is-hidden-mobile" style="background-image: url(https://i.imgur.com/dww2xK1.jpg);padding: 50px;background-size: 115% auto">
    <br>
    <br>
    <br>
    <p>在相異的材質與人事物中尋找一種契合</p>
    <br>
    <p>透過每一分執著的縫製 </p>
    <br>
    <p>少了機器的冰冷，添了情感的永恆</p>
    <br>
    <p>簡單的線條說單純的故事</p>
    <br>
    <p>讓Le'box成為我們滋養生活的方式</p>
    <br>
    <br>
    <br>
    <br>
  
	</div>
</section>

<script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function currentDiv(n) {
  showDivs(slideIndex = n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  if (n > x.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
     dots[i].className = dots[i].className.replace(" w3-white", "");
  }
  x[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " w3-white";
}
</script>