<section class="section">
	<div class="container">
		<br>	
		<h1 class="title has-text-centered" style="color:hsl(141, 71%, 48%)">設計師列表</h1>
		<% @designers.each do |designer| %>
		  <br>	
		  <hr>
		  <br>
		  <br>
		  <div class="columns">
		    <div class="column is-2">
		    	<figure class="image is-200x200 is-hidden-mobile" >
		    		<%= image_tag designer.image ,style:'border-radius: 50%'%>
		    	</figure>
		    	<figure class="image is-256x256 is-hidden-desktop" >
		    		<%= image_tag designer.image ,style:'border-radius: 50%'%>
		    	</figure>		    	
		    </div>	    		  			
	    	<div class="column">
	    		<div class="title ">
		  	 		<%= designer.name%>
		     	</div>
	    		<div class="is-size-4 has-text-weight-semibold ">
		  	 		設計師簡介:
		     	</div>		     	
				<div class=" is-size-5">
	    			  <%=simple_format  designer.description%>
		    	</div>
		    </div>  
	      </div>
	      <% end %>
</section>